*, *::before, *::after {
  box-sizing: border-box;
}

body,
html {
  font-family: $body-font;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: smooth;
}

body {
  color: $black-900;
  background: $white-900;
  font-size: $global-font-size;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $heading-font;
}

a {
  text-decoration: none;
  color: inherit;
}
